build:
  type: None
  content: ''
deploy:
  type: text
  content: |-
    #/bin/sh

    ls
    kubectl apply -f googlebookapi.yaml
    kubectl expose pod zbio-sample-googlebookapi --type=LoadBalancer --name=my-service1
test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-12-26T12:07:15.263Z
