build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    cd ./ && make dockerise
deploy:
  type: text
  content: |
    #/bin/sh

    cd ./ && make deploy

    cd ./ && make loadbalancer
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-12-26T10:36:29.476Z
